<div class="user-modal center">
  <h1 mat-dialog-title> {{ data.head }} </h1>
  <h1 mat-dialog-title cdkFocusInitial> {{ data.username }} </h1>
  <div *ngIf="data.action === 'edit' || data.action === 'add'" mat-dialog-content [formGroup]="userForm">
    <mat-form-field>
      <mat-label> Username </mat-label>
      <input matInput formControlName="userControl" />
    </mat-form-field>
    <mat-form-field>
      <mat-label> Privilege </mat-label>
      <mat-select name="privilege" formControlName="privControl">
        <mat-option *ngFor="let priv of privileges" [value]="priv.id"> {{ priv.privilege }} </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-stroked-button color="primary" *ngIf="data.action === 'add'" (click)="addUser()"> Add </button>
    <button mat-button *ngIf="data.action === 'edit'" (click)="updateUser()"> Submit </button>
    <button mat-button *ngIf="data.action === 'delete'" (click)="removeUser()"> Delete </button>
    <button mat-button mat-dialog-close>Cancel</button>
  </div>
</div>