<div class="mat-elevation-z8 user-table">
  <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
      <td mat-cell *matCellDef="let row"> {{row.username }} </td>
    </ng-container>

    <!-- Privilege Column -->
    <ng-container matColumnDef="privilege">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Privilege </th>
      <td mat-cell *matCellDef="let row"> {{row.privilege }} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary" (click)="openDialog('edit', row.username)"> Edit </button>
        <button mat-button (click)="openDialog('delete', row.username)"> Delete </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 100]">
  </mat-paginator>
</div>

<!-- Button to add User -->
<button mat-raised-button color="primary" (click)="openDialog('add', '')"> Add </button>